* {
  box-sizing: border-box;
  margin: 0;
}

.comments {
  color: #324152;
  font-family: "Rubik", sans-serif;
  margin: 0 auto;
  margin-top: 4rem;
  width: min(100% - 2rem, 700px);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.comments__comment {
  background-color: white;
  border-radius: 8px;
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem;
}
.comments__comment-score {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comments__comment-score-value {
  margin: 1rem 0;
  font-weight: 700;
  font-size: 1.05em;
}
.comments__comment-main {
  width: 100%;
}
.comments__comment-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  margin-bottom: 1rem;
}
.comments__comment-reply-button {
  position: absolute;
  right: 0;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  color: #5457b6;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  background-color: white;
  outline: none;
  border: none;
}
.comments__comment-reply-button::before {
  position: absolute;
  content: url("../images/icon-reply.svg");
  margin-left: -1.4rem;
}
.comments__comment-reply-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.comments__comment-image {
  max-width: 2.2rem;
}
.comments__comment-username {
  font-size: 1.1rem;
  font-weight: 700;
}
.comments__comment-you {
  font-size: 0.8rem;
  background-color: #5457b6;
  color: white;
  padding: 0.15em 0.4em;
  border-radius: 3px;
}
.comments__comment-user-options {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: absolute;
  right: 0;
}
.comments__comment-user-options .delete-button {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  background-color: white;
  border: none;
  color: #ed6468;
}
.comments__comment-user-options .delete-button::before {
  position: absolute;
  content: url("../images/icon-delete.svg");
  margin-left: -1.4rem;
}
.comments__comment-user-options .delete-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.comments__comment-user-options .edit-button {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  background-color: white;
  border: none;
  color: #5457b6;
}
.comments__comment-user-options .edit-button::before {
  position: absolute;
  content: url("../images/icon-edit.svg");
  margin-left: -1.4rem;
}
.comments__comment-user-options .edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.comments__comment-update-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.comments__comment-update-form .new__submit {
  align-self: flex-end;
}

.new {
  background-color: white;
  padding: 1.4rem;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex: 1 1 auto;
}
.new__img {
  max-width: 2.5rem;
}
.new__input {
  flex-grow: 1;
  resize: none;
  height: 5rem;
  outline: none;
  padding: 0.4em 1em;
  border: 2px solid #f5f6fa;
  border-radius: 8px;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
}
.new__input:focus {
  border: 2px solid #67727e;
}
.new__submit {
  background-color: #5457b6;
  color: white;
  border: none;
  border-radius: 8px;
  outline: none;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  padding: 0.8em 1.8em;
}
.new__submit:hover {
  cursor: pointer;
  background-color: #c3c4ef;
}

.deleteModal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.55);
  min-width: 100vw;
  min-height: 100vh;
  left: 0;
  top: 0;
  z-index: 2;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
}
.deleteModal__container {
  background-color: white;
  max-width: 40ch;
  padding: 1.7em 1.5em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.deleteModal__title {
  font-weight: 500;
  font-size: 1.6rem;
}
.deleteModal__desc {
  max-width: 33ch;
  font-size: 1.1rem;
  line-height: 1.4;
}
.deleteModal__button-container {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
}
.deleteModal__button {
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  border: none;
  outline: none;
  padding: 0.8em 2em;
  border-radius: 10px;
}
.deleteModal .yes {
  background-color: #ed6468;
}
.deleteModal .yes:hover {
  background-color: #e7363c;
  cursor: pointer;
}
.deleteModal .no {
  background-color: #67727e;
}
.deleteModal .no:hover {
  background-color: #505962;
  cursor: pointer;
}

.reply-box {
  background-color: white;
  padding: 1.4rem;
  border-radius: 8px;
  margin-top: 0.5rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.reply {
  background-color: white;
  margin: 1rem;
  width: 85%;
  margin-left: auto;
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  position: relative;
}
.reply .span-replying-to {
  font-weight: 700;
  color: #5457b6;
  cursor: pointer;
}
.reply .span-replying-to::before {
  display: inline-block;
  content: "@";
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

body {
  background-color: #f5f6fa;
}/*# sourceMappingURL=main.css.map */