@use "./index" as *;

.comments {
	color: $dark-blue;
	font-family: $ff-rubik;

	margin: 0 auto;
	margin-top: 4rem;
	width: min(100% - 2rem, 700px);
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	&__comment {
		background-color: $white;
		border-radius: 8px;

		display: flex;
		gap: 1.5rem;
		padding: 1.5rem;

		&-score {
			display: flex;
			flex-direction: column;
			align-items: center;

			&-value {
				margin: 1rem 0;
				font-weight: $fw-rubik-bold;
				font-size: 1.05em;
			}
		}

		&-main {
			width: 100%;
		}

		&-header {
			display: flex;
			align-items: center;
			gap: 1rem;

			position: relative;
			margin-bottom: 1rem;
		}

		&-reply-button {
			position: absolute;
			right: 0;

			display: flex;
			gap: 0.3rem;
			align-items: center;

			color: $moderate-blue;
			font-family: $ff-rubik;
			font-size: 1rem;
			font-weight: $fw-rubik-medium;
			text-decoration: none;
			background-color: $white;
			outline: none;
			border: none;

			&::before {
				position: absolute;
				content: url("../images/icon-reply.svg");
				margin-left: -1.4rem;
			}

			&:hover {
				cursor: pointer;
				opacity: 0.6;
			}
		}

		&-image {
			max-width: 2.2rem;
		}

		&-username {
			font-size: 1.1rem;
			font-weight: $fw-rubik-bold;
		}

		&-you {
			font-size: 0.8rem;
			background-color: $moderate-blue;
			color: $white;
			padding: 0.15em 0.4em;
			border-radius: 3px;
		}

		&-user-options {
			display: flex;
			align-items: center;
			gap: 2rem;

			position: absolute;
			right: 0;

			.delete-button {
				font-family: $ff-rubik;
				font-size: 1rem;
				font-weight: $fw-rubik-medium;

				background-color: $white;
				border: none;
				color: $soft-red;

				&::before {
					position: absolute;
					content: url("../images/icon-delete.svg");
					margin-left: -1.4rem;
				}

				&:hover {
					cursor: pointer;
					// color: $pale-red;

					opacity: 0.6;
				}
			}

			.edit-button {
				font-family: $ff-rubik;
				font-size: 1rem;
				font-weight: $fw-rubik-medium;

				background-color: $white;
				border: none;
				color: $moderate-blue;

				&::before {
					position: absolute;
					content: url("../images/icon-edit.svg");
					margin-left: -1.4rem;
				}

				&:hover {
					cursor: pointer;
					// color: $light-grayish-blue;

					opacity: 0.6;
				}
			}
		}

		&-update-form {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			.new__submit {
				align-self: flex-end;
			}
		}
	}

	&__reply-container {
		border-left: 4px solid $light-gray;
		margin-left: 3rem;
	}
}
