@use "./index" as *;

.reply {
	background-color: $white;
	margin: 1rem;
	width: 95%;
	margin-left: 2rem;
	padding: 1.5rem;
	border-radius: 10px;

	display: flex;
	align-items: center;
	gap: 1.5rem;

	position: relative;

	.span-replying-to {
		font-weight: $fw-rubik-bold;
		color: $moderate-blue;
		cursor: pointer;

		&::before {
			display: inline-block;
			content: "@";
		}
	}
}

@media only screen and (max-width: 700px) {
	.reply {
		margin: 1rem;
		width: auto;

		display: flex;
		flex-direction: column-reverse;
		align-items: stretch;

		.comments__comment-user-options {
			top: auto;
			bottom: 2.5rem;
		}
	}
}
